<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarVia"
        tools:targetApi="31" >
        <activity
            android:name=".list_edit.SelectedDocProperty"
            android:exported="false" />
        <activity
            android:name=".list_edit.DocumentListEditProperty"
            android:exported="false" />
        <activity
            android:name=".list_edit.SelectedDocHealth"
            android:exported="false" />
        <activity
            android:name=".list_edit.DocumentListEditHealth"
            android:exported="false" />
        <activity
            android:name=".list_edit.SelectedDocKasko"
            android:exported="false" />
        <activity
            android:name=".list_edit.DocumentListEditKasko"
            android:exported="false" />
        <activity
            android:name=".lists.ListProperty"
            android:exported="false" />
        <activity
            android:name=".lists.ListHealth"
            android:exported="false" />
        <activity
            android:name=".lists.ListKasko"
            android:exported="false" />
        <activity
            android:name=".list_edit.SelectedDocOsago"
            android:exported="false" />
        <activity
            android:name=".list_edit.DocumentListEditOsago"
            android:exported="false" />
        <activity
            android:name=".DocumentEdit"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".SelectedUser"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".AdminPanel"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".lists.ListOsago"
            android:exported="false" />
        <activity
            android:name=".insurance.CreatingInsuranceProperty"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".insurance.CreatingInsuranceHealth"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".insurance.CreatingInsuranseKasko"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".insurance.CreatingInsuranceOsago"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".admin.Authorization"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".auth.Registration"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|adjustResize" />
    </application>

</manifest>